/* Manechat CSS
   By: DeltaPHC */

body {
	background-color: #36393e;
	color: #f0f0f0;
	background-image: url('rdsalute_bg.png');
	background-attachment: fixed;
	background-position: right bottom;
	background-repeat: no-repeat;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
	color: #6c8bd7;
	text-decoration: none;
}

a:hover {
	color: #7c9be7;
	text-decoration: underline;
}

ol li {
	margin: 0 0 1rem 0;
	padding-left: 1rem;
}

.channel_name {
	background-color: #3c414d;
	color: #6c8bd7;
}

article.mane_content {
	background-color: #46494e;
	padding: 1rem;
	opacity: 0.90;
	clear: both;
	display: none;
}

article.article_shown {
	display: block !important;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #26292e;
	overflow: hidden;
}

nav ul li {
	margin: 0 1rem 0 0;
	padding: 0.5rem;
	float: left;
}

nav ul li:hover {
	background-color: #303030;
	cursor: pointer;
}

li.nav_selected {
	background-color: #404040;
}

li#nav_rules {
	background-image: url('fluttersrs.png');
	background-repeat: no-repeat;
	background-position: 8px bottom;
	background-size: 56px 56px;
}

li#nav_bpm {
	background-image: url('scootacheer.png');
	background-repeat: no-repeat;
	background-position: 8px bottom;
	background-size: 56px 56px;
}

nav ul li p, nav ul li h3 {
	margin: 0 0 0 64px;
	padding: 0;
}

footer {
	font-size: 0.75rem;
}

.button {
  display: inline-block;
  background: #477286;
  margin: 0 0 1em 0;
  text-shadow: 1px 1px #666;
  border-radius: 0.4em;
  border-left: 1px solid #6E91A1;
  border-top: 1px solid #6E91A1;
  border-bottom: 1px solid #113C51;
  border-right: 1px solid #113C51;
  box-shadow: 0px 2px 5px #222;
  padding: 0.5em;
  transition: all 300ms;
}

.button:hover {
  box-shadow: 0px 2px 10px #111;
  background: #608090;
  
}
.button:active {
  box-shadow: 0px 2px 10px #111;
  background: #27556C;
  transition: all 30ms;
}

.button a {
  padding: 0.5em;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 900;
}